/*  ====================================================  */
/*  = BELOW CSS USED FOR SCREEN MEDIA ==================  */
/*  ====================================================  */
body {
	margin: 0;
	padding: 0;
	font: 12px Verdana, Arial, Helvetica, sans-serif,"宋体","黑体";
	line-height: 1.8em;
	text-align: left;
	border: 0;
}
* {
	padding: 0;
	margin: 0;
}
/* open div begin */
/*----20091020 add by guoxx begin*/
.ajax_window {
	width: 400px;
	border: 1px #94b2bc solid;
	position: absolute;
	z-index: 10001;
	background-color: #f7fbfe;
	filter: progid:DXImageTransform.Microsoft.Shadow(Color=#c5d0d4,Direction=120,strength=3);
}
.ajax_wait {
	margin: 0px;
	padding: 40px 100px;
	color: #2e5b77;
	overflow: hidden;
	text-align: center;
	height: 40px;
}
.ajax_wait .loading_gif {
	margin: 0px;
	height: 40px;
	background: url(../images/blue-loading.gif) no-repeat left center;
	width: 50px;
	margin-top: -30px;
	float: left;
}
/*----20091020 add by guoxx end*/
.window {
	width: 400px;
	border: 1px #94b2bc solid;
	position: absolute;
	z-index: 10001;
	background-color: #FFF;
}
.window .caption {
	background: #fff url(../images/block.png) repeat-x 0px 1px;
	border: 1px solid #fff;
	border-bottom: 0;
	height: 24px;
	text-align: left;
	text-decoration: none;
	position: relative;
}
.window .caption span {
	display: block;
	padding-left: 10px;
	color: #E0F1F9;
	float: left;
}
.window .caption .text {
	background: transparent url(../images/block.png) no-repeat scroll 0px 1px;
	height: 20px;
	line-height: 22px;
	text-align: left;
	font-size: 12px;
	padding: 0 0px 0 25px;
	width: auto;
}
.window .caption a {/*modify*/
	float: right;
	width: 18px;
	margin-right: 5px;
	margin-top: 2px;
	height: 18px;
	border:none;
	list-style-type: none;
	cursor: pointer;
	z-index: 10;
	border: 0px #aabbd8 solid;
}
.window .caption a:hover {
	width: 18px;
	height: 18px;
	position: absolute;
	right: -3px;
	margin:3px 5px 0 0;
	border: 0px #aabbd8 solid;
	background: url(../images/bbpz_ico3.png);
}
.window .caption .close {
	width: 18px;
	height: 18px;
	position: absolute;
	right: -3px;
	margin:3px 5px 0 0;
	background: url(../images/bb_close.png) no-repeat 0px 1px;
	border:none;
}
.box {
	border: 1px solid #fff;
	border-top: 0;
	padding: 0 0 10px 0;
	background: #FFFFFF;
}
.tips {/*modify*/
	float: right;
	margin: 10px;
	padding: 5px 0 0 10px;
	text-align: left;
	line-height: 1.5em;
	color: #000;
	min-height: 40px;
	width: 280px;
	font-size: 14px;
}
.moreTips {
	padding: 5px 5px 0px 10px;
	background: #e5eaf2;
	line-height: 1.5em;
	color: #627482;
	min-height: 40px;
	height: auto !important;
	height: 40px;
	width: auto;
	border-top: 1px #94b2bc solid;
	position: inherit;
	word-wrap:break-word;
	word-break:break-all;
}
.but_bg {
	margin: 0 10px ;
	padding: 0;
	clear:both;
	text-align:center;
}
.but_bg .b_text {
	width:69px;
	height:27px;
	overflow:hidden;
	background:url(../images/sub_bg.png) no-repeat;
	text-align:center;
	line-height:27px;
	cursor:pointer;
	border:0;
	color:#636363;
	font-family:"微软雅黑";
	margin: 0px 30px 30px 30px;
}
.loading {
	margin: 0px;
	padding: 40px 20px;
	background: #f5fafe url(../images/loading.gif) repeat-x 0 -247px;
	overflow: hidden;
	text-align: center;
	height: 20px;
}
.loading .pic {
	margin: 0px;
	height: 20px;
	background: url(../images/loading.gif) no-repeat left center;
	width: 120px;
	float: left;
}
.loading .tips {
	color: #F93;
	text-align: left;
	font-size: 14px;
	margin: 0px;
	height: 20px;
	width: 100px;
	padding: 0 0 0 10px;
}
.wrong .pic {/*modify*/
	margin: 10px 10px 10px 30px;
	padding: 0 0 0 0px;
	width: 40px;
	height: 40px;
	display:inline;
	background: url(../images/block.gif) no-repeat 2px -108px;
	float: left;
}
.wrong .tips {
	color: #F93;
}
.right .pic {
	margin: 10px 10px 10px 30px;
	padding: 0 0 0 0px;
	width: 40px;
	height: 40px;
	background: url(../images/block.gif) no-repeat 2px -66px;
	float: left;
	display:inline;
}
.right .tips {
	color: #81ad7f;
}
.warning .pic {
	margin: 10px 10px 10px 30px;
	padding: 0 0 0 0px;
	width: 40px;
	height: 40px;
	background: url(../images/block.gif) no-repeat 2px -155px;
	float: left;
	display:inline;
}
.warning .tips {
	color: #F93;
}
.questions .pic {
	margin: 10px 10px 10px 30px;
	padding: 0 0 0 0px;
	width: 40px;
	height: 40px;
	background: url(../images/block.gif) no-repeat 2px -203px;
	float: left;
	display:inline;
}
.questions .tips {
	color: #4095ad;
}
input.but {
	padding: 1px 0 0 1px;
	background: url('../images/rating.png') no-repeat scroll 0px -283px;
	border: 0;
	height: 17px;
	cursor: pointer;
	text-align: center;
	width: 55px;
	overflow: hidden;
	line-height: 17px;
	color: #363e6c;
}
/* validate div end */
