
body {
	margin: 0;
	padding: 0;
	font: 12px Verdana, Arial, Helvetica, sans-serif,"宋体"，"黑体";
	line-height: 1.8em;
	text-align: left;
	border: 0;
}
html {
	border: 0;
}
iframe {
	border: 0;
}
* {
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin: 8px 0;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #999;
}
ol, dl, ul {
	list-style-type: none;
	list-style-image: url();
}
table {
	table-layout: auto;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 12px;
}
th {
	font-size: 12px;
	padding: 2px;
	white-space: nowrap;
}
td {
	padding: 2px;
}
a {
	color: #333;
	text-decoration: none;
}
a:visited {
	color: #999;
	text-decoration: none;
}
a:hover {
	color: #ff8100;
	text-decoration: underline;
}
img {
	border: 0;
}
select {
	width: 130px;
	margin: 0px 5px 0px -2px;
	padding: 0px;
	font-size: 12px;
	text-indent: 2px;
}
input {
	height: 15px;
	margin: 0px 2px 0px 0px;
	padding: 0;
	font-size: 12px;
	line-height:1em;
}
input[type="button"] {
	cursor: pointer;
	margin: 0 2px 0 0px;
}
input[type="reset"] {
	cursor: pointer;
	margin: 0 2px 0 0px;
}
input[type="text"] {
	margin: -1px 0px 0 0px;
	height:15px;
}
.input_com {
	background-color: #ffffff;
	border: 1px solid #7f9db9;
	color:#aaaaaa;
	padding: 0;
	width:auto;
}

.input_high {
	background-color: #FFF8B3;
	border: 1px solid #ca6900;	
	color:#ca6900;
	padding: 0;
}
.input_disabled {
	background-color: #e8e8e8;
	border: 1px solid #c4c4c4;
	color:#000000;
	padding: 0px;
}
textarea {
	margin: 0px 5px 0px 0px;
	padding: 0px;
}
label input {
	border: none;
}
radio {
	border: none;
}
.b_foot {
	background: url(../images/form_bg.png) no-repeat scroll -94px -23px;
	width: 56px;
	height: 24px;
	border: 0px;
	margin-right: 10px;
	line-height: 24px; 
	cursor: pointer;
}
.b_foot_hover {
	background: url(../images/form_bg.png) no-repeat scroll -94px -47px;
	width: 56px;
	height: 24px;
	border: 0px;
	margin-right: 10px;
	line-height: 24px;
	cursor: pointer;
	color: #A64200;
}
.b_foot_visited {
	background: url(../images/form_bg.png) no-repeat scroll -94px -71px;
	width: 56px;
	height: 24px;
	border: 0px;
	margin-right: 10px;
	line-height: 24px;
	cursor: pointer;
	color: #000;
}
.b_foot_long {
	background: url(../images/form_bg.png) no-repeat scroll -66px -106px;
	width: 84px;
	height: 24px;
	border: 0px;
	margin-right: 10px;
	line-height: 24px;
	cursor: pointer;
}
.b_foot_long_hover {
	background: url(../images/form_bg.png) no-repeat scroll -66px -130px;
	width: 84px;
	height: 24px;
	border: 0px;
	margin-right: 10px;
	line-height: 24px;
	cursor: pointer;
	color: #A64200;
}
.b_foot_long_visited {
	background: url(../images/form_bg.png) no-repeat scroll -66px -154px;
	width: 84px;
	height: 24px;
	border: 0px;
	margin-right: 10px;
	line-height: 24px;
	cursor: pointer;
	color: #000;
}
.b_text {
	background: url(../images/form_bg.png) repeat-x 0 -565px;
	border: 1px solid #a5c7e1;
	height: 18px;
	cursor: pointer;
	line-height:16px;
}
/*================================clr begin=============================================*/
.clr {
	clear: both;
	font-size: 0;
	height: 0;
	overflow: hidden;
}
.clr8 {
	clear: both;
	font-size: 0;
	height: 2px;
	overflow: hidden;
}
.clr12 {
	clear: both;
	font-size: 0;
	height: 12px;
	overflow: hidden;
}
.taL {
	text-align: left;
}
.taR {
	text-align: right;
}
.taC {
	text-align: center;
}
/*================================layerOut begin=============================================*/
#topPanel {
	height: 1%;
	margin: 0 auto;
}
#menuPanel {
	height: 1%;
	margin: 0 auto;
}
#contentPanel {
	margin: 0 auto;
	height: 50%;
}
#navPanel {
	height: 100%;
	float: left;
	width: 198px;
}
#search_panel {
	height: 1%;
	margin: 0;
	padding: 10px;
	display: inline;
}
#workPanel {
	height: 100%;
	overflow: hidden;
}
#ButtonPanel {
	height: 1%;
	margin: 0 auto;
}
#addTabPanel {
	padding: 8px 0 7px 20px;
	height: 30px;
}
#layerout {
	width: 160px;
	float: right;
	display: inline;
	height: 1%;
}
#layerout img {
	cursor: pointer;
	margin-right: 2px;
}
#menu {
	width: 600px;
	float: left;
	display: inline;
	height: 1%;
}
/*================================public begin======================================================*/
input.checkbox {
	border: none;
}
.readonlycol {
	color: #aca899;
}
.readonly {
	background: white;
	border: 1px white solid;
}
.more {
	text-align: right;
	padding: 2px 2px 2px 0;
}
/* ********************************************* *
   * corners
   * @version 4.0
  * ********************************************* */
.top-corners, .top-corners span, .bottom-corners, .bottom-corners span {
	height: 10px;
	overflow: hidden;
}
.top-corners {
	background: url('../images/tp-lt.gif') no-repeat left top;
}
.bottom-corners {
	background: url('../images/bt-lt.gif') no-repeat left bottom;
}
.top-corners span, .bottom-corners span {
	display: block;
	position: relative;
}
.top-corners span {
	background: url('../images/tp-rt.gif') no-repeat right top;
}
.bottom-corners span {
	background: url('../images/bt-rt.gif') no-repeat right -10px;
}
.content {
	border: solid #BFCFE6;
	border-width: 1px;
	padding: 10px;
}
/*================================Pages Width=====================================================*/

.W_16 {
	width: 16%;
}
.W_34 {
	width: 34%;
}
.W_12 {
	width: 12%;
}
.W_38 {
	width: 38%;
}
.W_13 {
	width: 13%;
}
.W_37 {
	width: 37%;
}
.W_15 {
	width: 15%;
}
.W_35 {
	width: 35%;
}
.W_2 {
	width: 2%;
}
.W_3 {
	width: 3%;
}
.W_4 {
	width: 4%;
}
.W_5 {
	width: 5%;
}
.W_8 {
	width: 8%;
}
.W_7 {
	width: 7%;
}
.W_9 {
	width: 9%;
}
.W_10 {
	width: 10%;
}
.W_11 {
	width: 11%;
}
.W_22 {
	width: 22%;
}
.W_23 {
	width: 23%;
}
.W_20 {
	width: 20%;
}
.W_25 {
	width: 25%;
}
.W_40 {
	width: 40%;
}
.W_60 {
	width: 60%;
}
.W_90 {
	width: 90%;
}
.W_98 {
	width: 98%;
}
.W_96 {
	width: 96%;
}
.W_100 {
	width: 100%;
}
.W_30px {
	width: 30px;
}
.W_40px {
	width: 40px;
}
.W_50px {
	width: 50px;
}
.W_60px {
	width: 60px;
}
.W_70px {
	width: 70px;
}
.W_80px {
	width: 80px;
}
.W_100px {
	width: 100px;
}
.W_120px {
	width: 120px;
}
.W_150px {
	width: 150px;
}
select.W_auto {
	width: auto; 
}
/*===================================public end================================================*/
/* open div begin
.window {
	width: 400px;
	border: 1px black solid;
	position: absolute;
	z-index: 10001;
	background-color: #FFF;
	filter: progid:DXImageTransform.Microsoft.Shadow(Color=#666666,Direction=120,strength=4);
}
.window .caption {
	height: 28px;
	background: white url(../images/window-caption.jpg) repeat-x;
	border-bottom: 1px black solid;
	position: relative;
}
.window .caption .title {
	height: 100%;
	background: url(../images/window-caption-title.jpg) no-repeat scroll right top;
	float: left;
	padding-right: 28px;
}
.window .caption .title span {
	background: white url(../images/window-caption-title-span.jpg) scroll right top;
	height: 100%;
	line-height: 28px;
	display: block;
	font-size: 14px;
	padding-left: 10px;
	color: #E0F1F9;
	float: left;
}
.window .caption .title .text {
	background: transparent none repeat scroll 0 0;
	color: #000;
	height: 14px;
	left: -1px;
	position: absolute;
	top: -1px;
}
.window .caption .close {
	width: 19px;
	height: 18px;
	position: absolute;
	right: 0px;
	top: 5px;
	margin-right: 10px;
	background: url(../images/window-close.gif) no-repeat;
}
.loading {
	margin: 0px;
	padding: 40px 20px;
	background: #fdffff url(../images/loading_bg.gif) repeat-x;
	overflow: hidden;
	text-align: center;
} */
/*.loading .text{
	text-align:center;
	font-size:12px;
	margin-bottom:15px;
}
.loading .pic {
	margin: 0px;
	height: 20px;
	padding: 0 0 0 150px;
	background: url(../images/loading.gif) no-repeat left center;
	line-height: 1.8em;
	color: #F93;
	text-align: left;
}*/
/* validate div end */
.error_css {
	background: #fff2e9 url('../images/error_bj.gif') no-repeat 2px 3px;
	padding: 2px 6px 0 18px;
	border: 1px solid #ff6600;
	margin: 2px;
	color: #ff6600;
}

.icoArrow {
	background: url('../images/form_bg.png') no-repeat -136px -676px;
	height: 12px;
	width: 10px;
	border: none;
	cursor: pointer;
	float:left;
	margin:3px 5px 0 2px;
}
.icoArr {
	background: url('../images/form_bg.png') no-repeat -137px -745px;
	height: 12px;
	width: 10px;
	border: none;
	cursor: pointer;
	float:left;
	margin:3px 5px 0 2px;
}


